#

In [1]:
import pandas as pd

In [2]:
school_df=pd.read_csv('Resources/schools_complete.csv')
student_df=pd.read_csv('Resources/students_complete.csv')

complete_data_df= pd.merge(school_df,student_df, how='left', 
                           on=['school_name','school_name'])

complete_data_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [3]:
school_count=complete_data_df['school_name'].nunique()
school_count

15

In [4]:
student_count=complete_data_df['Student ID'].nunique()
student_count

39170

In [5]:
budget_total=school_df['budget'].sum()
budget_total

24649428

In [6]:
average_math_score=complete_data_df['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
average_reading_score=complete_data_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [8]:
passing_math_count = complete_data_df[(complete_data_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
passing_reading_count = complete_data_df[(complete_data_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
total_reading_mathing_passing=complete_data_df[
    (complete_data_df["math_score"] >= 70) & (complete_data_df["reading_score"] >= 70)].count()["student_name"]

overall_passing_percentage= total_reading_mathing_passing / float(student_count)*100

overall_passing_percentage

65.17232575950983

In [11]:
district_summary_df= pd.DataFrame([[school_count,student_count,budget_total,average_math_score,
                                   average_reading_score,passing_math_percentage,passing_reading_percentage,
                                   overall_passing_percentage]],columns=['Total Schools','Total Students', 'Total Budget',
                                                                       'Average Math Score', 'Average Reading Score','% Passing Math',
                                                                       '% Passing Reading', '% Overall Passing'])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [29]:
school_name=school_df['school_name'].unique
school_name

<bound method Series.unique of 0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object>

In [12]:
school_types=school_df['type'].unique()
school_types

array(['District', 'Charter'], dtype=object)

In [47]:
per_school_count=school_df.groupby(['school_name',]).sum()['size']
per_school_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [32]:
per_school_budget=school_df.groupby(['school_name']).sum()['budget']
per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [33]:
per_student_capita= per_school_budget/per_school_count
per_student_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [40]:
per_school_math=complete_data_df.groupby(['school_name']).mean()['math_score']

TypeError: 'DataFrame' object is not callable

In [35]:
per_school_reading=complete_data_df.groupby(['school_name']).mean()['reading_score']
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [36]:
students_passing_math_and_reading = complete_data_df[
    (complete_data_df["reading_score"] >= 70) & (complete_data_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [37]:
per_school_passing_math=per_school_math / per_school_count * 100
per_school_passing_reading=per_school_reading /per_school_count *100
overall_passing_rate= school_students_passing_math_and_reading/per_school_count*100

In [48]:
per_school_summary=pd.DataFrame([[school_name,school_types, per_school_count,per_school_budget,
                                 per_student_capita,per_school_math, per_school_reading,per_school_passing_math,
                                per_school_passing_reading, overall_passing_rate]],columns=['School Name','School Type','Total Students','Total School Budget',
                                                                                            'Per Student Budget','Average Math Score','Average Reading Score',
                                                                                            '% Passing Math','% Passing Reading','% Overall Passing'])

AttributeError: type object 'DataFrame' has no attribute 'reset'

In [39]:
per_school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<bound method Series.unique of 0 Huang...,"[District, Charter]",school_name Bailey High School 4976 Cabr...,school_name Bailey High School 3124928 C...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 1.548401...,school_name Bailey High School 1.628496...,school_name Bailey High School 54.642283...