#

In [1]:
import pandas as pd

In [2]:
school_df=pd.read_csv('Resources/schools_complete.csv')
student_df=pd.read_csv('Resources/students_complete.csv')

complete_data_df= pd.merge(school_df,student_df, how='left', 
                           on=['school_name','school_name'])


complete_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   School ID      39170 non-null  int64
 1   school_name    39170 non-null  object
 2   type           39170 non-null  object
 3   size           39170 non-null  int64
 4   budget         39170 non-null  int64
 5   Student ID     39170 non-null  int64
 6   student_name   39170 non-null  object
 7   gender         39170 non-null  object
 8   grade          39170 non-null  object
 9   reading_score  39170 non-null  int64
 10  math_score     39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [3]:
school_count=complete_data_df['school_name'].nunique()
school_count

15

In [4]:
student_count=complete_data_df['Student ID'].nunique()
student_count

39170

In [5]:
budget_total=school_df['budget'].sum()
budget_total

24649428

In [6]:
average_math_score=complete_data_df['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
average_reading_score=complete_data_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [8]:
passing_math_count = complete_data_df[(complete_data_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
passing_reading_count = complete_data_df[(complete_data_df["reading_score"] >= 70)].count()["student_name"]

passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
total_reading_mathing_passing=complete_data_df[
    (complete_data_df["math_score"] >= 70) & (complete_data_df["reading_score"] >= 70)].count()["student_name"]

overall_passing_percentage= total_reading_mathing_passing / float(student_count)*100

overall_passing_percentage

65.17232575950983

In [11]:
district_summary_df= pd.DataFrame([[school_count,student_count,budget_total,average_math_score,
                                   average_reading_score,passing_math_percentage,passing_reading_percentage,
                                   overall_passing_percentage]],columns=['Total Schools','Total Students', 'Total Budget',
                                                                       'Average Math Score', 'Average Reading Score','% Passing Math',
                                                                       '% Passing Reading', '% Overall Passing'])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
school_types=school_df.groupby(['school_name'], as_index=True)['type'].sum()
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [13]:
per_school_count=school_df.groupby(['school_name'], as_index=True)['size'].sum()
per_school_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [14]:
per_school_budget=school_df.groupby(['school_name'], as_index=True)['budget'].sum()
per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [15]:
per_student_capita= per_school_budget/per_school_count
per_student_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [58]:
per_school_math=complete_data_df[(complete_data_df["math_score"] >= 70)]
per_school_math_df=per_school_math.groupby(['school_name'],as_index=True)['math_score'].size()
per_school_math_df

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [59]:
per_school_reading=complete_data_df[(complete_data_df["reading_score"] >= 70)]
per_school_reading_df=per_school_reading.groupby(['school_name'],as_index=True)['reading_score'].size()
per_school_reading_df

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [60]:
students_passing_math_and_reading = complete_data_df[
    (complete_data_df["reading_score"] >= 70) & (complete_data_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [66]:
per_school_passing_math=per_school_math_df / per_school_count * 100
per_school_passing_reading=per_school_reading_df /per_school_count *100
overall_passing_rate= school_students_passing_math_and_reading/per_school_count*100

In [67]:
per_school_summary=pd.DataFrame({
                            "School Type": school_types,
                            "Total Students": per_school_count,
                             "Total School Budget": per_school_budget,
                              "Per Student Budget": per_student_capita,
                              "Average Math Score": per_school_math_df,
                              "Average Reading Score": per_school_reading_df,
                              "% Passing Math": per_school_passing_math,
                              "% Passing Reading": per_school_passing_reading,
                              "Overall Passing Rate": overall_passing_rate
    })

In [68]:
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,3318,4077,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,1749,1803,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,1946,2381,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,1871,2172,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,1371,1426,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,3094,3748,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,395,411,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,3145,3867,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,910,923,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,2654,3208,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,1653,1688,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,1525,1591,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,2143,2204,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,1680,1739,93.333333,96.611111,90.333333

In [69]:
top_schools=per_school_summary.sort_values('Overall Passing Rate', ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,1749,1803,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,1525,1591,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,1371,1426,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,2143,2204,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,910,923,94.594595,95.945946,90.540541

In [70]:
worst_schools=per_school_summary.sort_values('Overall Passing Rate')
worst_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,2654,3208,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,1946,2381,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,3094,3748,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,3145,3867,66.057551,81.222432,53.539172

In [71]:
ninth_graders=complete_data_df[(complete_data_df['grade']== '9th')]
tenth_graders=complete_data_df[(complete_data_df['grade']== '10th')]
eleventh_graders=complete_data_df[(complete_data_df['grade']== '11th')]
twelfth_graders=complete_data_df[(complete_data_df['grade']== '12th')]

In [72]:
ninth_grade_math_scores=ninth_graders.groupby(['school_name'], as_index=True)['math_score'].mean()
tenth_grade_math_scores=tenth_graders.groupby(['school_name'], as_index=True)['math_score'].mean()
eleventh_grade_math_scores=eleventh_graders.groupby(['school_name'], as_index=True)['math_score'].mean()
twelfth_grade_math_scores=twelfth_graders.groupby(['school_name'], as_index=True)['math_score'].mean()

In [73]:
math_scores_by_grade=pd.DataFrame({
    '9th':ninth_grade_math_scores,
    '10th':tenth_grade_math_scores,
    '11th':eleventh_grade_math_scores,
    '12th': twelfth_grade_math_scores
})

In [74]:
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [75]:
ninth_grade_reading_scores=ninth_graders.groupby(['school_name'], as_index=True)['reading_score'].mean()
tenth_grade_reading_scores=tenth_graders.groupby(['school_name'], as_index=True)['reading_score'].mean()
eleventh_grade_reading_scores=eleventh_graders.groupby(['school_name'], as_index=True)['reading_score'].mean()
twelfth_grade_reading_scores=twelfth_graders.groupby(['school_name'], as_index=True)['reading_score'].mean()

In [76]:
reading_scores_by_grade=pd.DataFrame({
    '9th':ninth_grade_reading_scores,
    '10th':tenth_grade_reading_scores,
    '11th':eleventh_grade_reading_scores,
    '12th': twelfth_grade_reading_scores
})

In [77]:
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [78]:
school_spending_df= per_school_summary.copy()
school_spending_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,3318,4077,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,1749,1803,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,1946,2381,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,1871,2172,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,1371,1426,93.392371,97.138965,90.599455

In [79]:
school_spending_df['Per Student Budget'] = school_spending_df['Per Student Budget'].astype(float)

In [80]:
bins = [0, 585, 630, 645, 680]
spending_range = ["0-$585", "$585-630", "$630-645", "$645-680"]

In [81]:
school_spending_df["Spending Ranges (Per Student)"]= pd.cut(school_spending_df['Per Student Budget'], bins, labels= spending_range, include_lowest=True)

In [82]:
school_spending_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,3318,4077,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356,582.0,1749,1803,94.133477,97.039828,91.334769,0-$585
Figueroa High School,District,2949,1884411,639.0,1946,2381,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916,644.0,1871,2172,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500,625.0,1371,1426,93.392371,97.138965,90.599455,$585-630

In [83]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Overall Passing Rate"].mean()

In [84]:
spending_summary=pd.DataFrame({
    'Average Math Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math':spending_passing_math,
    '% Passing Reading':spending_passing_reading,
    '% Overall Passing': overall_passing_spending
})

In [85]:
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
0-$585,1491.750000,1539.25,93.460096,96.610877,90.369459
$585-630,1813.000000,2028.50,87.133538,92.718205,81.418596
$630-645,1999.000000,2338.00,73.484209,84.391793,62.857656
$645-680,2718.333333,3329.00,66.164813,81.133951,53.526855

In [86]:
per_school_summary.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Bailey High School to Wright High School
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   School Type            15 non-null     object
 1   Total Students         15 non-null     int64
 2   Total School Budget    15 non-null     int64
 3   Per Student Budget     15 non-null     float64
 4   Average Math Score     15 non-null     int64
 5   Average Reading Score  15 non-null     int64
 6   % Passing Math         15 non-null     float64
 7   % Passing Reading      15 non-null     float64
 8   Overall Passing Rate   15 non-null     float64
dtypes: float64(4), int64(4), object(1)
memory usage: 1.7+ KB

In [87]:
bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [88]:
school_size_df=per_school_summary.copy()

school_size_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,3318,4077,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,1749,1803,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,1946,2381,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,1871,2172,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,1371,1426,93.392371,97.138965,90.599455

In [89]:
school_size_df['School Size']= pd.cut(school_size_df['Total Students'], bins, labels = size_labels, include_lowest=True)

In [90]:
school_size_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,3318,4077,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,1749,1803,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,1946,2381,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,1871,2172,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,1371,1426,93.392371,97.138965,90.599455,Medium (1000-2000)

In [91]:
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["Overall Passing Rate"].mean()

In [92]:
type_summary= pd.DataFrame({
    'Average Math Score': size_math_scores,
    'Average Reading Score': size_reading_scores,
    '% Passing Math':size_passing_math,
    '% Passing Reading':size_passing_reading,
    '% Overall Passing': size_overall_passing
})

In [93]:
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),652.500,667.000,93.550225,96.099437,89.883853
Medium (1000-2000),1595.600,1649.400,93.599695,96.790680,90.621535
Large (2000-5000),2510.875,3003.625,69.963361,82.766634,58.286003