In [1]:
import pandas as pd

In [2]:
school_df=pd.read_csv('Resources/schools_complete.csv')
student_df=pd.read_csv('Resources/students_complete.csv')

complete_data_df= pd.merge(school_df,student_df, how='left', 
                           on=['school_name','school_name'])

complete_data_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [3]:
school_count=complete_data_df['school_name'].nunique()
school_count

15

In [4]:
student_count=complete_data_df['Student ID'].nunique()
student_count

39170

In [5]:
budget_total=school_df['budget'].sum()
budget_total

24649428

In [6]:
average_math_score=complete_data_df['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
average_reading_score=complete_data_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [8]:
passing_math_count = complete_data_df[(complete_data_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
passing_reading_count = complete_data_df[(complete_data_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
total_reading_mathing_passing=complete_data_df[
    (complete_data_df["math_score"] >= 70) & (complete_data_df["reading_score"] >= 70)].count()["student_name"]

overall_passing_percentage= total_reading_mathing_passing / float(student_count)*100

overall_passing_percentage

65.17232575950983

In [11]:
district_summary_df= pd.DataFrame([[school_count,student_count,budget_total,average_math_score,
                                   average_reading_score,passing_math_percentage,passing_reading_percentage,
                                   overall_passing_percentage]],columns=['Total Schools','Total Students', 'Total Budget',
                                                                       'Average Math Score', 'Average Reading Score','% Passing Math',
                                                                       '% Passing Reading', '% Overall Passing'])

In [12]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326